.gallery-block {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.swiper {
  height: 100%;
  z-index: 0;
}

.slide-photo {
  max-width: 864px;
  max-height: 864px;
  width: 45vw;
  user-select: none;
  border-radius: 5px;
  @media screen and (max-width: 1024px) {
    width: 60vw;
  }
  @media screen and (max-width: 650px) {
    width: 75vw;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: black;
}

.swiper-button-prev,
.swiper-button-next {
  user-select: none;
}

.swiper-wrapper {
  align-items: center;
}
