.dish {
  background-color: white;
  display: flex;
  margin: 1% 1% 5% 1%;
  @media screen and (max-width: 575px) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  & .info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 320px;
    @media screen and (max-width: 500px) {
      margin-left: 0px;
    }
    @media screen and (max-width: 415px) {
      width: 240px;
    }
    & .name {
      font-weight: 500;
      font-size: 1.6em;
      margin-bottom: 20px;
      @media screen and (max-width: 900px) {
        font-size: 1.1em;
        line-height: 1.1em;
      }
      @media screen and (max-width: 415px) {
        font-size: 1em;
      }
    }
    & .description {
      font-weight: 500;
      font-size: 1em;
      line-height: 1em;
      margin-bottom: 15px;
    }
    & .price {
      font-weight: 600;
      font-size: 1.3em;
      line-height: 1.3em;
      @media screen and (max-width: 900px) {
        font-size: 1em;
        line-height: 1em;
      }
    }
  }
  & .image {
    width: 320px;
    height: 264px;
    border-radius: 5px;
    @media screen and (max-width: 650px) {
      width: 240px;
      height: 204px;
    }
  }
}
