.dish {
  background-color: white;
  display: flex;
  margin: 1% 1% 5% 1%;
  @media screen and (max-width: 500px) {
    margin-bottom: 20%;
  }
  & .info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 320px;
    & .name {
      font-weight: 500;
      font-size: 1.8em;
      margin-bottom: 20px;
    }
    & .description {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
      @media screen and (max-width: 1300px) {
        font-size: 1.2em;
        line-height: 1.2em;
      }
      @media screen and (max-width: 500px) {
        font-size: 1em;
        line-height: 1em;
      }
    }
    & .price {
      font-weight: 600;
      font-size: 1.3em;
      line-height: 1.3em;
    }
  }
  & .image {
    width: 320px;
    height: 264px;
  }
}
