.App {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/montserrat.ttf');
}

li.slick-active {
  background-color: black;
}

.slick-dots {
  position: unset !important;
  li button {
    content: '';
    color: white;
    opacity: 0;
  }
  ul li {
    border: 1px solid black;
  }
}
